.main {
  width: 95%;
  margin: auto;
  
}

.containerStyle {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroStyle {
  max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}


.heroSectionStyle {
  background-image: url(../assets/hero-bg.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
 
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}










